/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* Hero Section */
.hero {
    background-color: #4CAF50;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    margin: 0;
}

.hero p {
    font-size: 20px;
    margin: 20px 0;
}

.cta-button {
    background-color: #fff;
    color: #4CAF50;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #45a049;
    color: white;
}

/* Courses Section */
.courses {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
}

.courses h2 {
    font-size: 32px;
}

.course-card {
    display: inline-block;
    width: 30%;
    margin: 20px;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.course-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.course-card h3 {
    font-size: 24px;
}

.course-card button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.course-card button:hover {
    background-color: #45a049;
}

/* About Us Section */
.about {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.about h2 {
    font-size: 32px;
}

/* Contact Section */
.contact {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.contact button:hover {
    background-color: #45a049;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    /* width: 100%; */
    bottom: 0;
}
